* {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: .5em .25em .5em .25em;
}
form {
  border: .1em solid black;
  border-radius: .5em;
  background-color: #12D5BB;
  width: 24em;
}
label {
  display: inline-block;
  width: 12em;
}
input{
  display: inline-block;
}
button {
  background-color: #C5E7FA;
  color: #094669;
  display: inline-block;
  margin-left: 23.5em;
}
button:hover {
  text-decoration: underline;
}
#signup {
  margin-left: 23em;
}
select {
  margin-left: -.25em;
}
select:hover {
  border-color:#999999;
}